h2.title {
    color: #127f1b;
    text-align: center;
    border-bottom: dashed #4da00c 1px
}

table.table-wrapper {
    border: solid 2px #4da00c
}

div.first {
    height: 100px;
    width: 100px;
    border: solid #7d8c93 1px
}

div.second {
    height: 70px;
    /*width: 400px;*/
    border: solid #7d8c93 1px;
    background: #458F0B;
}

td.first {
    /*height: 10px;*/
    width: 100px;
    /*border: solid #51ff08 1px;*/
}

td.second {
    /*height: 70px;*/
    width: 600px;
    /*border: solid #51ff08 1px;*/
}

td.third {
    height: 100px;
    width: 600px;
    border: dashed #4c9b1a 1px;
    text-align: center;
    font-size: xx-large;
    font-family: "Arial Rounded MT Bold", sans-serif;
    background: url(../../images/bg.png) repeat;
}

td.third:hover {
    height: 100px;
    width: 600px;
    border: solid #247213 1px;
    text-align: center;
    font-size: xx-large;
    font-family: "Arial Rounded MT Bold", sans-serif;
    color: #247213;
    background: url(../../images/bg.png) repeat;
}

div.banner {
    background-color: #247213;
    padding-top: 10px;
    padding-bottom: 10px;
}