td.default {
    background: #089b27;
    height: 50px
}

td.selected {
    background: #08721d;
    height: 50px
}

td.default:hover {
    background: #08721d;
    height: 50px
}

div.panel {
    text-align: center;
    vertical-align: middle;
    font-size: large
}