<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mysteam.mapper.GameMapper">
    <resultMap id="BaseResultMap" type="com.mysteam.entity.Game">
        <id column="game_id" property="gameId" jdbcType="INTEGER"/>
        <result column="game_name" property="gameName" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="version" property="version" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="SMALLINT"/>
        <result column="on_sale_date" property="onSaleDate" jdbcType="DATE"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
        <association property="developer" column="developer" fetchType="lazy"
                     select="com.mysteam.mapper.UserMapper.selectByPrimaryKey"/>
    </resultMap>

    <resultMap id="ApplyResultMap" type="com.mysteam.entity.Game">
        <id column="apply_id" property="gameId" jdbcType="INTEGER"/>
        <result column="game_name" property="gameName" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="version" property="version" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="SMALLINT"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
        <result column="origin_id" property="originId" jdbcType="INTEGER"/>
        <association property="developer" column="developer" fetchType="lazy"
                     select="com.mysteam.mapper.UserMapper.selectByPrimaryKey"/>
    </resultMap>
    <sql id="Apply_Column_List">
        apply_id, game_name, type, developer, price, version, state, introduction, origin_id
    </sql>
    <sql id="Base_Column_List">
        game_id, game_name, type, developer, price, version, state, on_sale_date, introduction
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from games
        where game_id = #{gameId,jdbcType=INTEGER}
    </select>

    <select id="selectByType" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM games
        WHERE type = #{type,jdbcType=VARCHAR}
        LIMIT #{skipRows}, #{pageSize}
    </select>

    <select id="selectPageNumByType" resultType="java.lang.Integer">
        SELECT COUNT(game_id)
        FROM games
        WHERE type = #{type}
    </select>

    <select id="selectApplyingGamesByDeveloper" resultMap="ApplyResultMap">
        SELECT
        <include refid="Apply_Column_List"/>
        FROM games_on_applying
        WHERE developer=#{developer}
    </select>

    <select id="selectApplyingGames" resultMap="ApplyResultMap">
        SELECT
        <include refid="Apply_Column_List"/>
        FROM games_on_applying
    </select>

    <select id="selectApplyingGameById" resultMap="ApplyResultMap">
        SELECT
        <include refid="Apply_Column_List"/>
        FROM games_on_applying
        WHERE apply_id=#{applyId}
    </select>

    <select id="selectOnSaleGamesByDeveloper" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM games
        WHERE developer=#{developer}
    </select>

    <select id="selectOriginIdById" resultType="java.lang.Integer">
        SELECT origin_id
        FROM games_on_applying
        WHERE apply_id = #{applyId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM games
        WHERE game_id = #{gameId,jdbcType=INTEGER}
    </delete>

    <delete id="deleteApplyingGameById">
        DELETE FROM games_on_applying
        WHERE apply_id = #{applyId}
    </delete>

    <insert id="insert" parameterType="com.mysteam.entity.Game" keyProperty="gameId"
            useGeneratedKeys="true">
        insert into games (game_name, type, developer,
        price, version, state,
        on_sale_date, introduction
        )
        values (#{gameName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
        #{developer.userId,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, #{version,jdbcType=VARCHAR},
        #{state,jdbcType=SMALLINT}, #{onSaleDate,jdbcType=DATE}, #{introduction,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.mysteam.entity.Game">
        <selectKey resultType="java.lang.Integer" keyProperty="gameId" order="BEFORE">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into games
        <trim prefix="(" suffix=")" suffixOverrides=",">
            game_id,
            <if test="gameName != null">
                game_name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="developer != null">
                developer,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="onSaleDate != null">
                on_sale_date,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{gameId,jdbcType=INTEGER},
            <if test="gameName != null">
                #{gameName,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR}
            </if>
            <if test="developer != null">
                #{developer.userId,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="version != null">
                #{version,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=SMALLINT},
            </if>
            <if test="onSaleDate != null">
                #{onSaleDate,jdbcType=DATE},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="insertApplyingGame" parameterType="com.mysteam.entity.Game" keyProperty="gameId"
            useGeneratedKeys="true">
        INSERT INTO games_on_applying (game_name, type, developer, price, version, state, introduction, origin_id)
        VALUES (#{gameName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
                #{developer.userId,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, #{version,jdbcType=VARCHAR},
                #{state,jdbcType=SMALLINT}, #{introduction,jdbcType=VARCHAR}, #{originId, jdbcType=INTEGER}
        )
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.mysteam.entity.Game">
        update games
        <set>
            <if test="gameName != null">
                game_name = #{gameName,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR}
            </if>
            <if test="developer != null">
                developer = #{developer.userId,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=SMALLINT},
            </if>
            <if test="onSaleDate != null">
                on_sale_date = #{onSaleDate,jdbcType=DATE},
            </if>
            <if test="introduction != null">
                introduction = #{introduction, jdbcType=VARCHAR}
            </if>
        </set>
        where game_id = #{gameId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mysteam.entity.Game">
        UPDATE games
        SET game_name    = #{gameName,jdbcType=VARCHAR},
            type         = #{type,jdbcType=VARCHAR},
            developer    = #{developer.userId,jdbcType=INTEGER},
            price        = #{price,jdbcType=DOUBLE},
            version      = #{version,jdbcType=VARCHAR},
            state        = #{state,jdbcType=SMALLINT},
            on_sale_date = #{onSaleDate,jdbcType=DATE},
            introduction = #{introduction,jdbcType=VARCHAR}
        WHERE game_id = #{gameId,jdbcType=INTEGER}
    </update>
    <update id="updateApplyingGameState">
        UPDATE games_on_applying
        SET state = #{state}
        WHERE apply_id = #{applyId}
    </update>
    <update id="updateGameState">
        UPDATE games
        SET state = #{state}
        WHERE game_id = #{applyId}
    </update>
</mapper>