<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <properties url="file:///E:\WebProjects\MySteam\src\jdbc.properties"/>

    <!-- !!!! Driver Class Path !!!! -->
    <classPathEntry location="E:\WebProjects\MySteam\web\WEB-INF\lib\mysql-connector-java-5.1.40-bin.jar"/>

    <context id="context" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- !!!! Database Configurations !!!! -->
        <jdbcConnection driverClass="${driver}" connectionURL="${url}" userId="${username}" password="${password}"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- !!!! Model Configurations !!!! -->
        <javaModelGenerator targetPackage="com.mysteam.entity" targetProject="THIS_CONFIGURATION_IS_NOT_REQUIRED">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- !!!! Mapper XML Configurations !!!! -->
        <sqlMapGenerator targetPackage="com.mysteam.mapper" targetProject="THIS_CONFIGURATION_IS_NOT_REQUIRED">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!-- !!!! Mapper Interface Configurations !!!! -->
        <javaClientGenerator targetPackage="com.mysteam.mapper" targetProject="THIS_CONFIGURATION_IS_NOT_REQUIRED" type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <!-- !!!! Table Configurations !!!! -->
        <!--<table tableName="users"-->
               <!--enableCountByExample="false"-->
               <!--enableDeleteByExample="false"-->
               <!--enableSelectByExample="false"-->
               <!--enableUpdateByExample="false"-->
               <!--domainObjectName="User">-->
            <!--<generatedKey column="user_id" sqlStatement="MySql"/>-->
        <!--</table>-->

        <!--<table tableName="games"-->
               <!--enableCountByExample="false"-->
               <!--enableDeleteByExample="false"-->
               <!--enableSelectByExample="false"-->
               <!--enableUpdateByExample="false"-->
               <!--domainObjectName="Game">-->
            <!--<generatedKey column="game_id" sqlStatement="MySql"/>-->
        <!--</table>-->

        <!--<table tableName="game_orders"-->
               <!--enableCountByExample="false"-->
               <!--enableDeleteByExample="false"-->
               <!--enableSelectByExample="false"-->
               <!--enableUpdateByExample="false"-->
               <!--domainObjectName="GameOrder"/>-->

        <table tableName="reviews"
               enableCountByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"
               domainObjectName="Review">
            <generatedKey column="review_id" sqlStatement="MySql"/>
        </table>
    </context>
</generatorConfiguration>